@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
}

a {
  text-decoration: none;
}

/*NAVIGATION BAR*/

header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
/*
nav {
  height: 100px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

*/

.logo {
  width: 100px;
  height: 100px;
}

.nav-list {
  text-align: center;
  margin-top: 10px;
  padding: 6px 18px;
  background-color: #333;
  border-radius: 14px;
}

.nav-link {
  display: inline-block;
  list-style: none;
  margin: 0 8px;
  font-size: 14px;
  font-weight: 600;
}

.nav__link-anchor {
  color: #f8f7f7;
  transition: all 500ms;
}

.nav__link-anchor:hover {
  color: #b32b2b;
}



.nav__link--anchor-primary:hover {
  background-color: #81cc2a;
  color: white;
}

/* Banner styles */
.banner {
  background-image: url('/assets/garden5.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #333; 
  color: #fff; 
  padding: 6px 18px; 
  margin: 20px;
  text-align: center;
  border-radius: 20px; 
  overflow: hidden; 
}

.banner-content {
  max-width: 1200px; 
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px; 
}

.banner h2 {
  font-size: 28px;
}

.banner p {
  font-size: 16px;
  margin-top: 10px;
}


/*HERO SECTION*/
.header__container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  padding: 10px 40px;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: left;
  width: 50%;
}

.header__description--title {
  margin-bottom: 2px;
  font-size: 36px;
  line-height: 1.4;
}

.green {
  color: #a33919;
}

.header__img--wrapper {
  padding: 10px;
  width: 50px;
}

.header__description--para {
  font-size: 16px;
  line-height: 24px;
  margin-top: 14px;
  margin-bottom: 24px;
  text-align: left;
}

.hero__img {
  width: 300px;
  height: 200px;
}

/*ABOUT US*/


.about__title {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 20px;
  color: #a33919;
}

.about__description {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.about__description--para {
  font-size: 12px;
  line-height: 1.5;
}

.about__description--wrapper {
  width: 60%;
  padding: 5px 24px;
}

.about__img--wrapper {
  width: 40%;
  padding: 5px 24px;
}

.about__img {
  width: 220px;
  height: 140px;
  border-radius: 5px;
  transition: all 500ms;
}

.about__img:hover {
  transform: scale(1.1);
}

/*SERVICES*/

.service__title {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 20px;
  color: #a33919;
}

/* Style the service cards container */
.service-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Style the service cards */
.service-card {
  width: calc(33.33% - 20px); /* 20px is the combined margin */
  margin: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.service-card img {
  max-width: 100%;
  max-height: 150px;
  margin-bottom: 10px;
}

.service-card h3 {
  font-size: 18px;
  color: #a33919;
}

.service-card p {
  font-size: 12px;
  text-align: left;
  margin: 10px;
}

/* Style the contact section */
#contact {
  
  padding: 20px;
}

#contact h2 {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 20px;
  color: #a33919;
}

#contact p {
    font-size: 14px;
    margin: 20px;
    text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color:  #a33919;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #cf3d10;
}

/* Style the footer */
footer {
  padding: 10px;
  background-color: #333;
  color: #fff;
  display: flex;
}

footer div {
  flex: 1;
}

.footer__para {
  text-align: center;
}

.footer__para--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer img {
  max-width: 100px;
  margin: 10px;
}


body {
    background-color: #ffffff;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

